# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Cache
.turbo
.eslintcache

# Logs
*.log

# Environment
.env
.env.*

# Misc
.DS_Store
*.pem
.vscode
.idea

# Package manager
pnpm-lock.yaml
package-lock.json
yarn.lock